<%= render 'shared/navigation' %>

<div class="container">
  <div class="row justify-content-center mb-4">
      <strong>Title:</strong>
      <%= @article.title %>
  </div>
  <div class="row justify-content-center mb-4">
    <strong>Text:</strong>
    <%= @article.text %>
  </div>
 </div>

<h2>Comments</h2>
<%= render @article.comments %>
 
<h2>Add a comment:</h2>
<%= render 'comments/form' %>
 
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>